<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hmo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HMO">
        <activity android:name=".Appointment_Doctors.DoctorAppointment"></activity>
        <activity android:name=".Message_Doctors.DocShowMessageActivity" />
        <activity android:name=".Message_Doctors.DocSendMessageActivity" />
        <activity android:name=".Message_Doctors.DocReplyMessageActivity" />
        <activity android:name=".Panels_Screens.ClientsPanel" />
        <activity android:name=".Appointment_Doctors.SetAppointment" />
        <activity android:name=".Appointment_User.ConfirmAppointment" />
        <activity android:name=".Appointment_User.BookAppointment" />
        <activity android:name=".Login_Screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration.Registration" />
        <activity android:name=".Login_Screens.MainLogin" />
        <activity android:name=".Management.Management" />
        <activity android:name=".Panels_Screens.DoctorsPanel" />
        <activity android:name=".Login_Screens.DoctorLogin" />
        <activity android:name=".Login_Screens.ClientLogin" />
        <activity android:name=".Message_Users.MailUserActivity" />
        <activity android:name=".Message_Users.SendMassageActivity" />
        <activity android:name=".Message_Doctors.MailDocActicity" />
        <activity android:name=".Appointment_User.UserAppointments" />
        <activity android:name=".Message_Users.ShowMassageActivity" />
        <activity android:name=".Message_Users.ReplyMassageActivity" />
    </application>

</manifest>